$primary-color: #272727;
// $primary-color: #c3c3ce;
$secondary-color: #ff652f;

*,
*::after,
*::before {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

@mixin transition-ease {
  transition: all 0.4s ease-in-out;
}

//FUNCTIONS
@function set-text-color($color) {
    @if (lightness($color) > 40%) {
      @return #000;
    } @else {
      @return #fff;
    }
  }
